<!-- home.html -->
{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block content
%}
<style>
  .about-section {
    background-color: #a6abf3;
    color: #1f25a5;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .about-heading {
    color: #434ccc;
  }

  .mission-section {
    background-color: #f0f2ff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .team-section {
    background-color: #e0e4f7;
    padding: 20px;
    border-radius: 8px;
  }

  .team-section h3 {
    color: #1f25a5;
  }

  .team-section p {
    color: #434ccc;
  }
</style>

<div class="container mt-0">
  <section class="about-section text-center">
    <h1 class="about-heading">About Toka Fitness</h1>
    <p>
      At Toka Fitness, our mission is to help people reach their fitness
      goals through personalized, accessible, and engaging sessions. Whether
      you're a beginner or a seasoned athlete, we provide customized training
      programs tailored to your specific needs and preferences.
    </p>
  </section>

  <section class="mission-section">
    <h2>Our Mission</h2>
    <p>
      We believe in the power of fitness to transform lives. Our mission is to
      create an inclusive environment where everyone feels motivated to improve
      their health. At Toka Fitness, we provide a range of services designed to
      fit your unique goals, whether you aim to lose weight, build muscle, or
      simply improve your overall well-being.
    </p>
  </section>

  <section class="team-section">
    <h2 class="text-center">Meet Our Team</h2>
    <div class="row mt-4">
      {% include 'YiSang.html' %} {% include 'Faust.html' %} {% include 'DonQuixote.html' %}
    </div>
    <div class="row mt-4">
      {% include 'Ryōshū.html' %} {% include 'Meursalt.html' %} {% include 'HongLu.html' %}
    </div>
    <div class="row mt-4">
      {% include 'Heathcliff.html' %} {% include 'Ishmael.html' %} {% include 'Rodion.html' %}
    </div>
    <div class="row mt-4"> 
      {% include 'Sinclair.html' %} {% include 'Outis.html' %} {% include 'Gregor.html' %}
    </div>
  </section>
</div>
{% endblock %}
