{% extends "base.html" %} {% block title %}Advice{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    {% for row in data %}
    <div class="col-sm-4">
      <div class="card" style="width: auto">
        <!-- <img src="/static/placeholder.jpg" class="card-img-top"/> -->
        <div class="card-body">
          <h4 class="card-title">{{ row[1] }}</h4>
          <p class="card-text">{{ row[2] }}</p>
          <p class="card-text"><small class="text-muted">{{ row[4] | capitalize }}</small></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adviceModal{{ row[0] }}">
            View Advice
          </button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="adviceModal{{ row[0] }}" tabindex="-1" aria-labelledby="adviceModalLabel{{ row[0] }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="adviceModalLabel{{ row[0] }}">{{ row[1] }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ row[3] }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
