<!-- Sinner Card!!! -->
<div class="col-md-4">
  <div class="card text-center">
    <img src="/static/Faustfull.jpg" class="card-img-top" alt="Trainer 3" />
    <div class="card-body">
      <h5 class="card-title">Faust</h5>
      <p class="card-text">
        Es irrt der Mensch, solang er strebt.<br />Man errs, as long as he
        strives.
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#FaustModal"
      >
        Read more
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="FaustModal"
        tabindex="-1"
        aria-labelledby="FaustModal"
        data-bs-backdrop="static"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="FaustModal">Faust</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" style="text-align: left">
              The sinner who developed the engine of Mephistopheles, the bus
              operated by Limbus Company. She claims that there is no one in the
              City who could rival her library of knowledge and wisdom, and she
              isn't necessarily wrong. You might find her high and mighty
              attitude when she allows you to converse with her displeasing, but
              as seen with how she treats everyone with subtle gestures of
              arrogance, there is no hope of her parting with it, ever. We
              recommend simply nodding once and getting over it. Even though she
              has an unparalleled genius, we can't quite figure out how to use
              this one. Perhaps you could be the one to find out?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
