<!-- Sinner Card!!! -->
<div class="col-md-4">
  <div class="card text-center">
    <img src="/static/Outisfull.jpg" class="card-img-top" alt="Trainer 3" />
    <div class="card-body">
      <h5 class="card-title">Outis</h5>
      <p class="card-text">
        Είμαι... ου τις απολύτως.<br />
        am... nothing at all.
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#OutisModal"
      >
        Read more
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="OutisModal"
        tabindex="-1"
        aria-labelledby="OutisModal"
        data-bs-backdrop="static"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="OutisModal">Outis</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" style="text-align: left">
              This Sinner could serve as an excellent advisor depending on your
              capability. However, she also has a meddlesome tendency, so it is
              recommended to keep her satisfied with short replies of agreement.
              She is an expert when it comes to tactics and various pearls of
              wisdom about life, making her advice all the more valuable for
              your mission. In addition, she possesses a vast knowledge of
              workshop technologies; you could trust her with simple repairs of
              the bus.
              <p style="color:#eebb00;">
                [NOTICE]: Unlike the other Sinners, accessing records pertaining
                to the past of this sinner is not permitted.
              </p>
              <p style="color:red">
                [WARNING]: Keep an eye on this Sinner and beware that she does
                not exercise her cunning intellect for purposes other than
                completing our company's mission.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
