{% extends "base.html" %}
{% block title %}Fitness Sessions{% endblock %}

{% block content %}
<!-- <style>
    td {
        display: flex;
        justify-content: middle;
    }
</style> -->
<h1>Available Fitness Sessions</h1>
<table class="table">
    <thead>
        <tr>
            <th>Trainer</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        {% if session[0] not in bookings %}
        <tr>
            <td>{{ session[1] }}</td> <!-- Assuming trainer's name is in the second column -->
            <td>{{ session[2] }}</td> <!-- Date -->
            <td>{{ session[3] }}</td> <!-- Time -->
            <td>{{ session[4] }}</td> <!-- Duration -->
            <td>
                <a href="{{ url_for('book_session', session_id=session[0]) }}" class="btn btn-primary">Book</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% if name %}
<h2>Your Booked Sessions</h2>
<table class="table">
    <thead>
        <tr>
            <th>Trainer</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        {% if session[0] in bookings %}
        <tr>
            <td>{{ session[1] }}</td> <!-- Assuming trainer's name is in the second column -->
            <td>{{ session[2] }}</td> <!-- Date -->
            <td>{{ session[3] }}</td> <!-- Time -->
            <td>{{ session[4] }}</td> <!-- Duration -->
            <td>
                <a href="{{ url_for('unbook_session', session_id=session[0]) }}" class="btn btn-primary">Unbook</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}